[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
jupyter = "*"
lxml = "*"
geocoder = "*"
sklearn = "*"
folium = "*"
seaborn = "*"
"fc32878" = {path = ".\\\\Shapely-1.6.4.post2-cp36-cp36m-win_amd64.whl"}
gensim = "*"
nltk = "*"
